.header{
    grid-area:h;
    background-color: #d28121;
    margin-bottom: 10px;
}
.header img{
    width: 8%;
}

.loginBlock{
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}